<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">CarRental</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Listeler
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="cars/list">Araçları Listele</a></li>
              <li><a class="dropdown-item" href="brands/list">Markaları Listele</a></li>
              <li><a class="dropdown-item" href="colors/list">Renkleri Listele</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        
        <div class="text-end btn-group">
          <button *ngIf="!isLogged()" type="button" routerLink="/login" class="btn btn-outline-primary">
            LogIn
          </button>
          <button *ngIf="!isLogged()" type="button" routerLink="/register" class="btn btn-outline-warning">Register</button>

          <div *ngIf="isLogged()" class="btn-group text-end">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span>{{currentUser}}</span>

            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/profile/update">Hesabımı Güncelle</a></li>
              <li><a class="dropdown-item" (click) = "logOut()">Çıkış</a></li>
            </ul>
          </div>
        </div>
              
      </div>
    </div>
  </nav>