<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="content">
        <div>
          <div class="card">
            <div class="card-header">
              Aranan arac ile ilgili bir sey giriniz
            </div>
            <div class="card-body">
              <input
                type="text"
                [(ngModel)]="filterText"
                class="form-control"
                id="filterText"
              />
            </div>
            <div class="card-header">Markalar</div>
            <div class="card-body">
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                [(ngModel)]="brandParam"
              >
                <option value="">Hepsi</option>
                <option *ngFor="let brand of brands">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
            <div class="card-header">Renkler</div>
            <div class="card-body">
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                [(ngModel)]="colorParam"
              >
                <option value="">Hepsi</option>
                <option *ngFor="let color of colors">
                  {{ color.colorName }}
                </option>
              </select>
            </div>
            <div class="card-footer">
              <button
                (click)="filterCars()"
                type="button"
                class="btn btn-success"
              >
                Filtrele
              </button>
              <button
                (click)="clearFilter()"
                type="button"
                class="btn btn-danger"
              >
                Filtre Sil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div>
        <table class="table table-striped table-hover table-bordered">
          <tbody>
            <tr
              *ngFor="
                let car of cars
                  | carFilterPipe: filterText
                  | brandFilterPipe: brandFilter
                  | colorFilterPipe: colorFilter
              "
              style="height: 175px; width: 600px"
              routerLink="/cars/car/{{ car.carId }}"
            >
              <td>
                <div class="card" style="height: 150px; width: 250px">
                  <img
                    style="height: 150px; width: 250px"
                    *ngIf="car.firstCarImage == null"
                    src="https://localhost:44365\images\defaultcarimage.jpg"
                  />
                  <img
                    style="height: 150px; width: 250px"
                    *ngIf="car.firstCarImage != null"
                    src="{{ defaultPath }}{{ car.firstCarImage }}"
                  />
                </div>
              </td>
              <td>{{ car.modelYear }} {{ car.brandName }} {{ car.carName }}</td>
              <td>
                Renk: {{ car.colorName }} <br />
                Vites Tipi: {{ car.gearName }} <br />
                Yakıt Tipi: {{ car.fuelName }}
              </td>
              <td>
                Findeks Puanı: <br />
                <h6>{{ car.score }}</h6>
              </td>
              <td>
                Günlük Fiyat: <br />
                <h6>{{ car.dailyPrice }}</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
