<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Araba ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="mb-3">
            <label for="carName">Araba adı</label>
            <div class="form-group">
              <input
                type="text"
                id="carName"
                formControlName="carName"
                class="form-control"
                placeholder="Araba adını giriniz"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="brandName">Marka</label>
            <div class="form-group">
              <select
                class="form-select"
                aria-label="Marka Secimi"
                formControlName="brandId"
                id="brandId"
                type="number"
              >
                <option value="" disabled selected>Seçiniz..</option>
                <option *ngFor="let brand of brands" [ngValue]="brand.brandId">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="colorId">Renk</label>
            <div class="form-group">
              <select
                class="form-select"
                aria-label="Renk Secimi"
                formControlName="colorId"
                id="colorId"
                type="number"
              >
                <option value="" disabled selected>Seçiniz..</option>
                <option *ngFor="let color of colors" [ngValue]="color.colorId">
                  {{ color.colorName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="fuelId">Yakıt tipi</label>
            <div class="form-group">
              <select
                class="form-select"
                aria-label="Renk Secimi"
                formControlName="fuelId"
                id="fuelId"
                type="number"
              >
                <option value="" disabled selected>Seçiniz..</option>
                <option *ngFor="let fuel of fuelTypes" [ngValue]="fuel.id">
                  {{ fuel.fuelName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="gearId">Vites tipi</label>
            <div class="form-group">
              <select
                class="form-select"
                aria-label="Renk Secimi"
                formControlName="gearId"
                id="gearId"
                type="number"
              >
                <option value="" disabled selected>Seçiniz..</option>
                <option *ngFor="let gear of gearTypes" [ngValue]="gear.id">
                  {{ gear.gearName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model yılını giriniz"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Günlük fiyatı giriniz"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="score">Findeks Skor</label>
            <div class="form-group">
              <input
                type="number"
                id="score"
                formControlName="score"
                class="form-control"
                placeholder="Findeks Skorunu Giriniz"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description">Açıklama</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Araba ile bir açıklama giriniz"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <table>
          <tr>
            <td>
              <button class="btn btn-fill btn-dark" (click)="backToList()">
                Geri Dön
              </button>
            </td>
            <td></td>
            <td>
              <button class="btn btn-fill btn-primary" (click)="add()">
                Ekle
              </button>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>
